.main {
    height: 900px;
    width: 1500px;
    text-align: center;
    font-size: 40px;
    color: #f8f5f2;
}
.head_widjets {
    background: darkslateblue;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}
.widjets {
    display: flex;
    width: 100%;
    height: 200px;
    column-gap: 5px;
    justify-content: center;
    margin-bottom: 10px;}

.boxes {
    flex-grow: 1;
    background: cornflowerblue;
    }
.contacts {
    height: 400px;
    width: 100%;
    background: blueviolet;
}